@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
}

.btn {
  display: block;
  background: none;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #cacaca;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0 0 30px 0;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
}

@media (max-width: 415px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 78px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.center {
  text-align: center;
}

.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  position: relative;
  padding: 200px 0 178px 0;
}
.page-description .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 9px;
  right: 50px;
}
.page-description a {
  text-decoration: none;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.page-description .logo {
  margin-right: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-description .logo img {
  height: 24px;
}
.page-description .logo span {
  display: block;
  white-space: nowrap;
  margin-left: 16px;
}
.page-description .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 428px;
}
@media (max-width: 415px) {
  .page-description .nav ul {
    margin-right: auto;
  }
}
.page-description .nav ul li {
  list-style: none;
  padding-right: 24px;
}
@media (max-width: 415px) {
  .page-description .nav ul li {
    width: 100%;
    text-align: left;
  }
}
.page-description .form-group input {
  min-height: 25px;
  background: #3c3b3d;
  border-radius: 50px;
  font-size: 13.3px;
  line-height: 15px;
  color: #757575;
  border: none;
  padding: 5px;
  padding-left: 10px;
  text-transform: uppercase;
  width: 248px;
  margin-right: 70px;
}
@media (max-width: 415px) {
  .page-description .form-group input {
    width: 374px;
  }
}

.banner input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 415px) {
  .banner input {
    width: 374px;
  }
}
.banner input.green {
  width: 570px;
  background: #34c176;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  font-size: 13.3px;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 415px) {
  .banner input.green {
    width: 374px;
  }
}

#page-pricing {
  padding-top: 98px;
  color: #ffffff;
}
#page-pricing .pricing-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -25px;
}
#page-pricing .pricing-item {
  width: calc(33.3% - 50px);
  margin: 18px 25px 28px 25px;
  background-position: center;
  background-size: cover;
  padding: 24px 1.5rem 50px 1.5rem;
  border-radius: 1rem;
  text-align: center;
}
#page-pricing .pricing-item h3 {
  margin: 0;
  margin-bottom: 200px;
  line-height: 1.5;
}
#page-pricing .pricing-item .pricing-value {
  font-size: 64px;
  line-height: 1em;
  text-align: center;
  margin: 0 0 39px 0;
}
#page-pricing .pricing-item .pricing-value sup {
  font-size: 32px;
  line-height: 1em;
}
#page-pricing .pricing-item .btn {
  display: block;
  min-width: 270px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 64px;
}
#page-pricing .pricing-item .pricing-footer {
  font-size: 12.8px;
  line-height: 150%;
  text-align: center;
}
#page-pricing .bg-free1 {
  background-image: url("../images/subscribe_1.png");
}
#page-pricing .bg-free2 {
  background-image: url("../images/subscribe_2.png");
}
#page-pricing .bg-free3 {
  background-image: url("../images/subscribe_3.png");
}

#page-news {
  padding-top: 100px;
}
#page-news h2 {
  margin-bottom: 48px;
}
#page-news h3 {
  font-size: 30px;
  line-height: 45px;
  text-align: left;
  margin-top: 0;
  text-transform: capitalize;
}
@media (max-width: 415px) {
  #page-news h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
#page-news .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px 0 -25px;
}
#page-news .news-item:nth-child(2) {
  margin: 0 -25px 65px -25px;
}
@media (max-width: 415px) {
  #page-news .news-item:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 415px) {
  #page-news .news-item {
    margin: 0;
  }
}
#page-news .news-item .news-item-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 286px;
}
#page-news .news-item .news-item-img,
#page-news .news-item .news-content {
  width: calc(50% - 50px);
  margin: 0 25px;
}
@media (max-width: 415px) {
  #page-news .news-item .news-item-img,
#page-news .news-item .news-content {
    width: 100%;
    margin: 0 0 50px 0;
  }
}
#page-news .news-item .autor-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#page-news .news-item .autor-img .autor-name {
  margin: 0 16px;
  text-transform: uppercase;
  color: #f89202;
}
#page-news .news-item .news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 48px;
}
#page-news .news-item .btn {
  padding: 16px 30px;
  width: 135px;
  height: 53px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}
#page-news .news-item .news-footer {
  margin-top: 25px;
}
#page-news .news-item .mt-15 {
  margin-top: 15px;
}

#page-app {
  padding-top: 92px;
  margin-bottom: 92px;
}
@media (max-width: 415px) {
  #page-app h2 {
    margin-bottom: 48px;
  }
}
#page-app .page-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 50px 0 -72px;
}
@media (max-width: 415px) {
  #page-app .page-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }
}
#page-app .page-items .page-item {
  margin: 0 72px;
}
@media (max-width: 415px) {
  #page-app .page-items .page-item {
    margin: 0;
  }
}
#page-app .page-items .page-item .btn {
  padding: 16px 40px;
  background: #95390c;
  border: none;
  border-radius: 32px;
  color: #ffffff;
  font-size: 12.8px;
  line-height: 19px;
  width: 131px;
  height: 53px;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer .footer-top {
  padding: 3rem 0 70px 0;
  border-bottom: 2px solid #cacaca;
}
.footer .footer-top h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 15px;
}
.footer .footer-top a {
  display: block;
  text-decoration: none;
  color: #e0e0e0;
}
.footer .footer-top .grid-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
@media (max-width: 415px) {
  .footer .footer-top .grid-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 415px) {
  .footer .footer-top .grid-4 .grid-element {
    width: 100%;
  }
}
.footer .footer-top .grid-4 .inline {
  display: inline-block;
  margin-right: 20px;
}
.footer .footer-bottom {
  padding: 40px 0 49px 0;
}
.footer .footer-bottom a {
  text-decoration: none;
  color: #e0e0e0;
  margin-right: 13px;
}
@media (max-width: 415px) {
  .footer .footer-bottom a {
    display: block;
  }
}

.page-description2 {
  padding: 200px 0;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.page-description2 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25px;
}
.page-description2 .header a {
  text-decoration: none;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.page-description2 .header .logo {
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-description2 .header .logo img {
  height: 24px;
}
.page-description2 .header .logo span {
  display: block;
  white-space: nowrap;
  margin-left: 16px;
}
.page-description2 .header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 460px;
}
@media (max-width: 415px) {
  .page-description2 .header .nav ul {
    margin-right: auto;
  }
}
.page-description2 .header .nav ul li {
  list-style: none;
  padding-right: 24px;
}
@media (max-width: 415px) {
  .page-description2 .header .nav ul li {
    width: 100%;
    text-align: left;
  }
}
.page-description2 .header .form-group input {
  min-height: 25px;
  background: #3c3b3d;
  border-radius: 50px;
  font-size: 13.3px;
  line-height: 15px;
  color: #757575;
  border: none;
  padding: 5px;
  padding-left: 10px;
  text-transform: uppercase;
  width: 248px;
}
@media (max-width: 415px) {
  .page-description2 .header .form-group input {
    width: 374px;
  }
}
.page-description2 .banner {
  text-align: left;
}
.page-description2 .banner .btn {
  display: inline-block;
  width: 200px;
  height: 62px;
  border: none;
  font-size: 12.8px;
  line-height: 150%;
  padding: 20px 30px;
}
.page-description2 .banner .btn img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
.page-description2 .banner .orange {
  background: #95390c;
}
.page-description2 .banner .purple {
  background: #5328a1;
  margin-top: 48px;
  margin-right: 24px;
}
@media (max-width: 415px) {
  .page-description2 .banner .purple {
    margin-bottom: 24px;
  }
}

.page-popular-track {
  padding-top: 100px;
}
.page-popular-track h2 {
  text-align: left;
}
.page-popular-track h3 {
  font-weight: bold;
  font-size: 12.8px;
  line-height: 0%;
  text-transform: uppercase;
  text-align: left;
}
.page-popular-track p {
  line-height: 0;
}
.page-popular-track .popular-track img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.page-popular-track .popular-tracks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12.8px;
  line-height: 0%;
  color: #e0e0e0;
}
.page-popular-track .popular-tracks .popular-track {
  width: calc(50% - 50px);
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.page-popular-track .popular-tracks .popular-track:nth-child(5), .page-popular-track .popular-tracks .popular-track:nth-child(6) {
  margin-bottom: 0;
}
@media (max-width: 415px) {
  .page-popular-track .popular-tracks .popular-track:nth-child(5) {
    margin-bottom: 25px;
  }
}
@media (max-width: 415px) {
  .page-popular-track .popular-tracks .popular-track {
    width: 100%;
  }
}
.page-popular-track .popular-tracks .popular-track .track-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.page-popular-track .popular-tracks .track-time {
  text-align: right;
}

.page-discography {
  padding-top: 100px;
  text-align: left;
}
.page-discography h2 {
  text-align: left;
}
@media (max-width: 415px) {
  .page-discography h2 {
    margin-bottom: 48px;
  }
}
.page-discography h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
}
.page-discography .discography-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-discography .discography-items .discography-item {
  margin-right: 50px;
}
@media (max-width: 415px) {
  .page-discography .discography-items .discography-item {
    width: 137px;
    margin-right: 0;
  }
}
@media (max-width: 415px) {
  .page-discography .discography-items .discography-item:nth-child(odd) {
    width: 137px;
    margin-right: 50px;
  }
}
.page-discography .discography-items .discography-item:first-child, .page-discography .discography-items .discography-item:nth-child(2), .page-discography .discography-items .discography-item:nth-child(3), .page-discography .discography-items .discography-item:nth-child(4) {
  margin-bottom: 25px;
}
@media (max-width: 415px) {
  .page-discography .discography-item img {
    width: 137px;
    height: 137px;
  }
}

.page-similar {
  margin-bottom: 100px;
  padding-top: 100px;
}
.page-similar h2 {
  text-align: left;
}
@media (max-width: 415px) {
  .page-similar h2 {
    margin-bottom: 48px;
  }
}
.page-similar .similar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
.page-similar .similar-items .similar-item {
  margin-right: 50px;
}
@media (max-width: 415px) {
  .page-similar .similar-items .similar-item {
    width: 137px;
    margin-right: 0;
  }
}
@media (max-width: 415px) {
  .page-similar .similar-items .similar-item:nth-child(odd) {
    margin-right: 50px;
  }
}
.page-similar .similar-items .similar-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.page-similar .similar-items .similar-item:first-child, .page-similar .similar-items .similar-item:nth-child(2), .page-similar .similar-items .similar-item:nth-child(3), .page-similar .similar-items .similar-item:nth-child(4) {
  margin-bottom: 25px;
}
@media (max-width: 415px) {
  .page-similar .similar-items .similar-item img {
    width: 137px;
    height: 137px;
  }
}