@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
}

.btn {
  display: block;
  background: none;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #cacaca;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
}

@media (max-width: 415px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 78px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 415px) {
  .container {
    padding: 0 20px;
  }
}

.center {
  text-align: center;
}

.page-description {
  padding: 200px 0;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.page-description .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25px;
}
.page-description .header a {
  text-decoration: none;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.page-description .header .logo {
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-description .header .logo img {
  height: 24px;
}
.page-description .header .logo span {
  display: block;
  white-space: nowrap;
  margin-left: 16px;
}
.page-description .header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 460px;
}
@media (max-width: 415px) {
  .page-description .header .nav ul {
    margin-right: auto;
  }
}
.page-description .header .nav ul li {
  list-style: none;
  padding-right: 24px;
}
@media (max-width: 415px) {
  .page-description .header .nav ul li {
    width: 100%;
    text-align: left;
  }
}
.page-description .header .form-group input {
  min-height: 25px;
  background: #3c3b3d;
  border-radius: 50px;
  font-size: 13.3px;
  line-height: 15px;
  color: #757575;
  border: none;
  padding: 5px;
  padding-left: 10px;
  text-transform: uppercase;
  width: 248px;
}
@media (max-width: 415px) {
  .page-description .header .form-group input {
    width: 374px;
  }
}
.page-description .banner input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 415px) {
  .page-description .banner input {
    width: 374px;
  }
}
.page-description .banner input.green {
  width: 570px;
  background: #34c176;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 415px) {
  .page-description .banner input.green {
    width: 374px;
  }
}

.page-pricing {
  padding-top: 100px;
  color: #ffffff;
}
.page-pricing .pricing-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-pricing .pricing-item {
  width: 29%;
  min-width: 350px;
  margin: 50px 25px;
  background-position: center;
  background-size: cover;
  padding: 1.5rem;
  border-radius: 1rem;
}
.page-pricing .pricing-item h3 {
  margin-bottom: 200px;
}
.page-pricing .pricing-item .pricing-value {
  font-size: 64px;
  line-height: 1em;
  text-align: center;
}
.page-pricing .pricing-item .pricing-value sup {
  font-size: 32px;
  line-height: 150%;
}
.page-pricing .pricing-item .btn {
  display: block;
  min-width: 270px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
}
.page-pricing .pricing-item .pricing-footer {
  font-size: 12.8px;
  line-height: 150%;
  text-align: center;
}
.page-pricing .bg-free1 {
  background-image: url("../images/subscribe_1.png");
}
.page-pricing .bg-free2 {
  background-image: url("../images/subscribe_2.png");
}
.page-pricing .bg-free3 {
  background-image: url("../images/subscribe_3.png");
}

.page-news {
  padding-top: 100px;
}
.page-news h2 {
  margin-bottom: 48px;
}
.page-news h3 {
  font-size: 30px;
  line-height: 45px;
  margin-top: 0;
}
@media (max-width: 415px) {
  .page-news h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
.page-news .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px 65px -25px;
}
@media (max-width: 415px) {
  .page-news .news-item:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 415px) {
  .page-news .news-item {
    margin: 0;
  }
}
.page-news .news-item .news-item-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.page-news .news-item .news-item-img,
.page-news .news-item .news-content {
  width: calc(50% - 50px);
  margin: 0 25px;
}
@media (max-width: 415px) {
  .page-news .news-item .news-item-img,
.page-news .news-item .news-content {
    width: 100%;
    margin: 0 0 50px 0;
  }
}
.page-news .news-item .autor-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-news .news-item .autor-img .autor-name {
  margin: 0 16px;
  text-transform: uppercase;
  color: #f89202;
}
.page-news .news-item .news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 48px;
}
.page-news .news-item .btn {
  padding: 16px 30px;
  width: 135px;
  height: 53px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}

.page-app {
  padding-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 415px) {
  .page-app h2 {
    margin-bottom: 48px;
  }
}
.page-app .page-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -72px;
}
@media (max-width: 415px) {
  .page-app .page-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }
}
.page-app .page-items .page-item {
  margin: 0 72px;
}
@media (max-width: 415px) {
  .page-app .page-items .page-item {
    margin: 0;
  }
}
.page-app .page-items .page-item .btn {
  padding: 16px 40px;
  background: #95390C;
  border: none;
  border-radius: 32px;
  color: #ffffff;
  font-size: 12.8px;
  line-height: 19px;
  width: 131px;
  height: 53px;
}