@font-face {
  font-weight: normal;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: #cacaca;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;

  background: #08020d;
}

.btn {
  display: block;

  color: #cacaca;
  font-weight: normal;
  text-align: center;
  text-decoration: none;

  background: none;

  border: 1px solid #cacaca;
  border-radius: 5px;
}

h1 {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 30px 0;

  color: #fff;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 415px) {
  h1 {
    margin-top: 55px;

    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    margin: 0;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.center {
  text-align: center;
}

.page-description {
  position: relative;

  padding: 200px 0 200px 0;

  color: #fff;
  text-align: center;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  @media (max-width: 415px) {
    padding: 200px 0 200px 0;
  }

  .header {
    position: absolute;
    top: 9px;
    right: 50px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 415px) {
      top: 25px;
      right: 0;
      left: 20px;
    }
  }

  a {
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-right: 52px;

    img {
      height: 24px;
    }

    span {
      display: block;
      margin-left: 16px;

      white-space: nowrap;
    }
  }

  .nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-right: 428px;

      @media (max-width: 415px) {
        margin: 16px auto 16px 0;
        padding: 0;
      }

      li {
        padding-right: 24px;

        list-style: none;

        @media (max-width: 415px) {
          width: 82px;
          margin: 0 300px 0 0;

          font-size: 11px;
          line-height: 13px;
          text-align: left;
        }
      }
    }
  }

  .form-group {
    input {
      width: 248px;
      min-height: 25px;
      margin-right: 70px;
      padding: 5px;
      padding-left: 10px;

      color: #757575;
      font-size: 13.3px;
      line-height: 15px;
      text-transform: uppercase;

      background: #3c3b3d;
      border: none;
      border-radius: 50px;

      @media (max-width: 415px) {
        width: 374px;
        margin-right: 0;
      }
    }
  }
}

.banner {
  h1 {
    @media (max-width: 415px) {
      margin-top: 48px;
    }
  }

  form {
    max-width: 570px;
    margin: 0 auto;
  }

  input {
    min-width: 270px;
    min-height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 20px;

    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    background: none;
    border: 2px solid #cacaca;
    border-radius: 3px;

    @media (max-width: 415px) {
      min-width: 374px;
    }
  }

  .mr-24 {
    margin-right: 24px;
  }

  input.green {
    width: 570px;
    padding: 20px 30px;

    font-size: 13.3px;
    line-height: 18px;
    text-transform: uppercase;

    background: #34c176;
    border: none;
    border-radius: 5px;

    @media (max-width: 415px) {
      width: 374px;
      margin: 0;
    }
  }
}

#page-pricing {
  padding-top: 98px;

  color: #fff;

  @media (max-width: 415px) {
    padding-top: 102px;
  }

  .pricing-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 -25px;

    @media (max-width: 415px) {
      margin: 0 -25px  36px -25px;
    }
  }

  .pricing-item {
    width: calc(33.3% - 50px);
    margin: 18px 25px 28px 25px;
    padding: 24px 1.5rem 50px 1.5rem;

    text-align: center;

    background-position: center;
    background-size: cover;
    border-radius: 1rem;

    @media (max-width: 415px) {
      width: 100%;
      margin: 46px  25px 5px 25px;
      padding: 17px 1.5rem 50px 1.5rem;
    }

    h3 {
      margin: 0;
      margin-bottom: 200px;
    
      line-height: 1.5;

      @media (max-width: 415px) {
        font-size: 16px;
      }
    }

    .pricing-value {
      margin: 0 0 39px 0;

      font-size: 64px;
      line-height: 1em;
      text-align: center;

      sup {
        font-size: 32px;
        line-height: 1em;
      }
    }

    .btn {
      display: block;
      min-width: 270px;
      margin-bottom: 64px;
      padding: 20px 30px;

      color: #fff;
      font-weight: normal;
      text-align: center;
      text-decoration: none;

      background: none;
      border: 1px solid #fff;
      border-radius: 5px;
    }

    .pricing-footer {
      font-size: 12.8px;
      line-height: 150%;
      text-align: center;
    }
  }

  .bg-free1 {
    background-image: url("../images/subscribe_1.png");
  }

  .bg-free2 {
    background-image: url("../images/subscribe_2.png");
  }

  .bg-free3 {
    background-image: url("../images/subscribe_3.png");
  }
}

#page-news {
  padding-top: 100px;

  @media (max-width: 415px) {
    padding-top: 100px;
  }

  h2 {
    margin-bottom: 48px;
  }

  h3 {
    margin: 0 0 30px 0;

    font-size: 30px;
    line-height: 45px;
    text-align: left;
    text-transform: capitalize;

    @media (max-width: 415px) {
      margin: 0;

      font-size: 16px;
      line-height: 24px;
    }
  }

  .news-item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px 0 -25px;

    @media (max-width: 415px) {
      margin: 0;
    }

    &:nth-child(3) {
      @media (max-width: 415px) {
        flex-direction: column-reverse;
        margin: 0;
      }
    }

    .news-item-img img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 286px;
    }

    .news-item-img,
    .news-content {
      width: calc(50% - 50px);
      height: 286px;
      margin: 0 25px;

      @media (max-width: 415px) {
        width: 100%;
        height: 186px;
        margin: 0 0 50px 0;
      }
    }

    .autor-img {
      display: flex;

      .autor-name {
        margin: 0 16px;

        color: #f89202;
        text-transform: uppercase;
      }
    }

    .news-author {
      display: flex;
      margin-bottom: 48px;

      font-size: 12px;
      line-height: 19px;
    }

    .btn {
      width: 135px;
      height: 53px;
      padding: 16px 30px;

      font-size: 12px;
      line-height: 19px;
      text-transform: uppercase;
    }

    .news-footer {
      margin-top: 25px;
    }

    .mt-15 {
      margin-top: 15px;
    }
  }

  .mb-65 {
    margin-bottom: 65px;

    @media (max-width: 415px) {
      margin-bottom: 85px;
    }
  }
}

#page-app {
  margin-bottom: 100px;
  padding-top: 100px;

  h2 {
    @media (max-width: 415px) {
      margin-bottom: 48px;
    }
  }

  .page-items {
    display: flex;
    justify-content: center;
    margin: 50px 50px 0 -72px;

    @media (max-width: 415px) {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
    }

  .page-item {
    margin: 0 72px;

    @media (max-width: 415px) {
      margin: 0;
    }
            
    p {
      @media (max-width: 415px) {
        margin-top: 9px;
      }
    }

    .btn {
      width: 131px;
      height: 53px;
      padding: 16px 40px;

      color: #fff;
      font-size: 12.8px;
      line-height: 19px;
      background: #95390c;
      border: none;
      border-radius: 32px;
      }
    }
  }
}

.footer {    
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .footer-top {
    padding: 3rem 0 72px 0;
    border-bottom: 1px solid #cacaca;

    @media (max-width: 415px) {
      padding: 62px 0 40px 0;
    }
        
    h2 {
      margin-top: 15px;
      margin-bottom: 13px;
      font-size: 18px;
      font-weight: bold;
      line-height: 27px;
      text-transform: uppercase;
      text-align: left;
 
      @media (max-width: 415px) {
        margin: 0  0 16px 0;
      }
    }

    a {          
      text-decoration: none;
      color: #e0e0e0;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
    }

    .grid-4 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 40px;

      @media (max-width: 415px) {
        display: flex;
        flex-wrap: wrap;
      }

      .grid-element {
        @media (max-width: 415px) {
          width: 100%;
          margin-bottom: 30px;
        }                
      }

      .inline {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  .footer-bottom {
    padding: 40px 0 50px 0;

    @media (max-width: 415px) {
      padding: 40px 0 32px 0;
    }

    a {
      margin-right: 13px;
      color: #e0e0e0;
      text-decoration: none;

      @media (max-width: 415px) {
        display: block;
        margin-bottom: 16px;
      }
    }
  }
}

.page-description2 {
  padding: 200px 0 200px 0;
  background-image: url("../images/Morten\ Harket.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  position: relative;

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 9px;

    @media (max-width: 415px){
      top: 25px;
    }

    a {
      color: #fff;
      font-size: 11px;
      line-height: 16px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-right: 50px;

      img {
        height: 24px;
      }

      span {
        display: block;
        margin-left: 16px;
        white-space: nowrap;
      }
    }

    .nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-right: 430px;

        @media (max-width: 415px) {                                       
          margin: 16px auto 16px 0;
          padding: 0;
        }

        li {
          list-style: none;
          padding-right: 24px;

          @media (max-width: 415px) {
            width: 82px;
            margin: 0 300px 0 0;
            font-size: 11px;  
            line-height: 13px;
            text-align: left;                     
          }
        }
      }
    }
    .form-group {
      input {
        width: 248px;
        min-height: 25px;
        padding: 5px;
        padding-left: 10px;
    
        color: #757575;
        font-size: 13.3px;
        line-height: 15px;
        text-transform: uppercase;
        background: #3c3b3d;
        border: none;
        border-radius: 50px;

        @media (max-width: 415px) {
          width: 374px;
        }
      }
    }
  }

  .banner {
    text-align: left;

    h1 {
      margin-top: 50px;

      @media (max-width: 415px) {
        margin-top: 25px;
      }
    }

    .btn {
      display: inline-block;
      width: 200px;
      height: 62px;
      padding: 20px 30px;
      font-size: 12.8px;
      line-height: 150%;      
      text-transform: uppercase;
      border: none;
      
      img {
        width: 20px;
        height: 20px;
        margin-right: 16px;
      }
    }

    .orange {
      margin-bottom: 25px;
      background: #95390c;
    }

    .purple {
      margin: 30px 20px 50px 0 ;
      background: #5328a1;

      @media (max-width: 415px) {
        margin-bottom: 24px;
      }
    }
  }
}

#page-popular-track {
  padding-top: 100px;

  h2 {
    margin-bottom: 50px;
    text-align: left;
  }

  h3 {
    margin: 7px 350px 0 0;
    font-weight: bold;
    font-size: 12.8px;
    line-height: 19.2px;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: 415px) {           
      margin: 7px 179px 0 0;            
    }    
  }

  p {
    margin: 0 395px 0 0;
    font-size: 12.8px;
    line-height: 150%;

    @media (max-width: 415px) {           
      margin: 0px 179px 0 0;
    }
  }

  .popular-track img {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }

  .popular-tracks {
    display: flex;
    flex-wrap: wrap;
    color: #e0e0e0;
    font-size: 12.8px;
    line-height: 0%;

    .popular-track {
      width: calc(50% - 50px);
      display: flex;
      margin-right: 50px;
      margin-bottom: 25px;

      @media (max-width: 415px) {
        margin-right: 0;
      }

      &:nth-child(5),
      &:nth-child(6) {
        margin-bottom: 0;
      }

      &:nth-child(5) {
        @media (max-width: 415px) {
          margin-bottom: 25px;
        }
      }

      @media (max-width: 415px) {
        width: 100%;
      }

      .track-info {
        flex-grow: 1;
      }
    }

    .track-time {
      text-align: right;

      @media (max-width: 415px) {
        margin: 0;               
      }
    }
  }
}

#page-discography {
  padding-top: 100px;
  text-align: left;

  h2 {
    margin-bottom: 47px;
    text-align: left;

    @media (max-width: 415px) {
      margin-bottom: 48px;
    }
  }

  h3 {
    margin: 12px 0 0 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    text-transform: capitalize;
  }

  p {
    margin: 0;
  }

  .discography-items {
    display: flex;
    flex-wrap: wrap;

    .discography-item {
      margin-right: 50px;

      @media (max-width: 415px) {
        width: 137px;
        margin-right: 0;
      }

      &:nth-child(odd) {
        @media (max-width: 415px) {
          width: 137px;
          margin-right: 50px;
        }
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 25px;
      }
    }
  }

  .discography-item img {
    @media (max-width: 415px) {
      width: 137px;
      height: 137px;
    }
  }
}

#page-similar {
  margin-bottom: 100px;
  padding-top: 100px;

  h2 {
    margin-bottom: 46px;
    text-align: left;

    @media (max-width: 415px) {
      margin-bottom: 48px;
    }
  }

  h3 {
    margin: 11px 0 0 0;
    text-transform: capitalize;
 }

  p {
    margin: 0;
  }

  .similar-items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    .similar-item {
      margin-right: 50px;

      @media (max-width: 415px) {
        width: 137px;
        margin-right: 0;
      }

      &:nth-child(odd) {
        @media (max-width: 415px) {
          margin-right: 50px;
        }
      }

      h3 {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 25px;
      }

      @media (max-width: 415px) {
        &:nth-child(5),
        &:nth-child(6) {
          margin-bottom: 25px;
        }
      }
    }

    .similar-item img {
      @media (max-width: 415px) {
        width: 137px;
        height: 137px;
      }
    }
  }
}
