@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #cacaca;
    background: #08020d;    
}

.btn {
    display: block;
    background: none;
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #cacaca;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin: 0 0 30px 0;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;
}

@media (max-width: 415px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 55px;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
   
}
.center {
    text-align: center;
}
.page-description {
    
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    position: relative;    
    padding: 200px 0 200px 0;

    @media (max-width: 415px) {
        padding: 200px 0 200px 0;
    }
        

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: 9px;
        right: 50px;

        @media (max-width: 415px) {
            top: 25px;
            right: 0;
            left: 20px;
        }
    }

    a {
        text-decoration: none;
        font-size: 11px;
        line-height: 16px;
        color: #ffffff;
        text-transform: uppercase;
    }

    .logo {
        margin-right: 52px;
        display: flex;
        align-items: center;

        img {
            height: 24px;
        }
        span {
            display: block;
            white-space: nowrap;
            margin-left: 16px;
        }
    }

    .nav {
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-right: 428px;           

            @media (max-width: 415px) {                                       
                margin: 16px auto 16px 0;                    
                padding: 0;
                
            }

            li {
                list-style: none;
                padding-right: 24px;

                @media (max-width: 415px) {
                    width: 82px;
                    text-align: left;                        
                    margin: 0 300px 0 0; 
                    font-size: 11px;  
                    line-height: 13px;                     
                }
            }
        }
    }
    .form-group {
        input {
            min-height: 25px;
            background: #3c3b3d;
            border-radius: 50px;
            font-size: 13.3px;
            line-height: 15px;
            color: #757575;
            border: none;
            padding: 5px;
            padding-left: 10px;
            text-transform: uppercase;
            width: 248px;
            margin-right: 70px;

            @media (max-width: 415px) {
                width: 374px;
                margin-right: 0;
            }
        }
    }
}
.banner {
    
    h1 {        

        @media (max-width: 415px) {
            margin-top: 50px;
        }
    }

    input {
        min-width: 270px;
        min-height: 50px;
        padding-left: 20px;
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 1.5rem;
        border: 2px solid #cacaca;
        border-radius: 3px;
        background: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        box-sizing: border-box;

        @media (max-width: 415px) {
            min-width: 374px;
            margin-left: 0;
        }
    }

    input.green {
        width: 570px;
        background: #34c176;
        padding: 20px 30px;
        border-radius: 5px;
        border: none;
        font-size: 13.3px;
        line-height: 18px;
        text-transform: uppercase;
        box-sizing: border-box;

        @media (max-width: 415px) {
            width: 374px;
        }
    }
}

#page-pricing {
    padding-top: 98px;
    color: #ffffff;
    
    @media (max-width: 415px) {
        padding-top: 102px;      
    }

    .pricing-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; 
        margin: 0 -25px;  

        @media (max-width: 415px) {
            margin: 0 -25px  36px -25px;        
        }
    }    

    .pricing-item {
        width: calc(33.3% - 50px);        
        margin: 18px 25px 28px 25px;
        background-position: center;
        background-size: cover;
        padding: 24px 1.5rem 50px 1.5rem;
        border-radius: 1rem;
        text-align: center;

        @media (max-width: 415px) {
            margin: 46px  25px 5px 25px;
            padding: 17px 1.5rem 50px 1.5rem;
            width: 100%;
        }

        h3 {
            margin: 0;
            margin-bottom: 200px;
            line-height: 1.5;

            @media (max-width: 415px) {
                font-size: 16px;
                
            }
        }

        .pricing-value {
            font-size: 64px;
            line-height: 1em;
            text-align: center;           
            margin: 0 0 39px 0;      
        
            sup {
                font-size: 32px;
                line-height: 1em;
            }
        }

        .btn {
            display: block;
            min-width: 270px;
            background: none;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 20px 30px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            font-weight: normal;
            margin-bottom: 64px;
        }

        .pricing-footer {
            font-size: 12.8px;
            line-height: 150%;
            text-align: center;
        }
    }

    .bg-free1 {
        background-image: url("../images/subscribe_1.png");
    }

    .bg-free2 {
        background-image: url("../images/subscribe_2.png");
    }

    .bg-free3 {
        background-image: url("../images/subscribe_3.png");
    }
}

#page-news {
    padding-top: 100px;  
    
    @media (max-width: 415px) {
        padding-top: 100px;
    }


    h2 {
        
        margin-bottom: 48px;       
    }

    h3 {
        font-size: 30px;
        line-height: 45px;
        text-align: left;
        margin: 0 0 30px 0;
        text-transform: capitalize;        

        @media (max-width: 415px) {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
        }
    }

    

    .news-item {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -25px 0 -25px;       

        @media (max-width: 415px) {
            margin: 0;
        }

        &:nth-child(3) {
            @media (max-width: 415px) {
                flex-direction: column-reverse;
                margin: 0;
            }
        }        

        .news-item-img img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            max-height: 286px;
        }

        .news-item-img,
        .news-content {
            width: calc(50% - 50px);
            margin: 0 25px;
            height: 286px;

            @media (max-width: 415px) {
                width: 100%;
                margin: 0 0 50px 0;
                height: 186px;
            }
        }

        .autor-img {
            display: flex;

            .autor-name {
                margin: 0 16px;
                text-transform: uppercase;
                color: #f89202;
            }
        }

        .news-author {
            display: flex;
            font-size: 12px;
            line-height: 19px;
            margin-bottom: 48px;
        }

        .btn {
            padding: 16px 30px;
            width: 135px;
            height: 53px;
            font-size: 12px;
            line-height: 19px;
            text-transform: uppercase;
        }
        .news-footer {
            margin-top: 25px;           
        }
        .mt-15 {
            margin-top: 15px;
        }
    }

    .mb-65 {
        margin-bottom: 65px;

        @media (max-width: 415px) {
            margin-bottom: 85px;
        }
    }
}

#page-app {
    padding-top: 100px;   
    margin-bottom: 100px;
    
    

    h2 {
        
        @media (max-width: 415px) {
            margin-bottom: 48px;
        }
    }

    .page-items {
        display: flex;
        justify-content: center;
        margin: 50px 50px 0 -72px;

        @media (max-width: 415px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: center;
            margin: 0;
        }

        .page-item {
            margin: 0 72px;

            @media (max-width: 415px) {
                margin: 0;
            }
            
             p {
                @media (max-width: 415px) {
                    margin-top: 9px;
                }
             }

            .btn {
                padding: 16px 40px;
                background: #95390c;
                border: none;
                border-radius: 32px;
                color: #ffffff;
                font-size: 12.8px;
                line-height: 19px;
                width: 131px;
                height: 53px;
            }
        }
    }
}

.footer {    
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

    .footer-top {
        padding: 3rem 0 72px 0;
        border-bottom: 1px solid #cacaca; 
        
        @media (max-width: 415px) {
            padding: 62px 0 40px 0;
         }
                
        h2 {
            font-size: 18px;
            font-weight: bold;
            line-height: 27px;
            text-transform: uppercase;
            text-align: left;
            margin-top: 15px;
            margin-bottom: 13px;  

            @media (max-width: 415px) {
                margin: 0  0 16px 0;
             }
        }

        a {          
            text-decoration: none;
            color: #e0e0e0;
        }

        ul {
            padding: 0;
            margin: 0;           
        }

        li {
            list-style: none;           
            
        }

        .grid-4 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 40px;

            @media (max-width: 415px) {
                display: flex;
                flex-wrap: wrap;
            }

            .grid-element {
                @media (max-width: 415px) {
                    width: 100%;
                    margin-bottom: 30px;
                }                
            }

            .inline {
                display: inline-block;
                margin-right: 20px;               
               
            }

        }
    }

    .footer-bottom {
        padding: 40px 0 50px 0;

        @media (max-width: 415px) {
            padding: 40px 0 32px 0;
        }

        a {
            text-decoration: none;
            color: #e0e0e0;
            margin-right: 13px;          

            @media (max-width: 415px) {
                display: block;
                margin-bottom: 16px;
            }
        }
    }
}

.page-description2 {
    padding: 200px 0 225px 0;
    background-image: url("../images/Morten\ Harket.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    position: relative;

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: 9px;

        @media (max-width: 415px){
            top: 25px;
        }

        a {
            text-decoration: none;
            font-size: 11px;
            line-height: 16px;
            color: #ffffff;
            text-transform: uppercase;
        }

        .logo {
            margin-right: 50px;
            display: flex;
            align-items: center;

            img {
                height: 24px;
            }
            span {
                display: block;
                white-space: nowrap;
                margin-left: 16px;
            }
        }

        .nav {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin-right: 430px;
                

                @media (max-width: 415px) {                                       
                    margin: 16px auto 16px 0;                    
                    padding: 0;
                    
                }

                li {
                    list-style: none;
                    padding-right: 24px;

                    @media (max-width: 415px) {
                        width: 82px;
                        text-align: left;                        
                        margin: 0 300px 0 0; 
                        font-size: 11px;  
                        line-height: 13px;                     
                    }
                }
            }
        }
        .form-group {
            input {
                min-height: 25px;
                background: #3c3b3d;
                border-radius: 50px;
                font-size: 13.3px;
                line-height: 15px;
                color: #757575;
                border: none;
                padding: 5px;
                padding-left: 10px;
                text-transform: uppercase;
                width: 248px;

                @media (max-width: 415px) {
                    width: 374px;
                }
            }
        }
    }

    .banner {
        text-align: left;

        h1 {
            margin-top: 50px;

            @media (max-width: 415px) {
                margin-top: 25px;
            }

        }

        .btn {
            display: inline-block;
            width: 200px;
            height: 62px;
            border: none;
            font-size: 12.8px;
            line-height: 150%;
            padding: 20px 30px;

            img {
                width: 20px;
                height: 20px;
                margin-right: 16px;
            }
        }

        .orange {
            background: #95390c;
        }

        .purple {
            background: #5328a1;
            margin: 30px 20px 0 0 ;

            @media (max-width: 415px) {
                margin-bottom: 24px;
            }
        }
    }
}

#page-popular-track {
    padding-top: 100px;

    h2 {
        text-align: left;
        margin-bottom: 50px;
    }

    h3 {
        font-weight: bold;
        font-size: 12.8px;
        line-height: 0%;
        text-transform: uppercase;
        text-align: left;

        @media (max-width: 415px) {
            line-height: 150%;
            margin: 7px 179px 0 0;            
        }
       
    }

    p {
        line-height: 0;
        @media (max-width: 415px) {
            margin: 0 179px 0 0;
            font-size: 12.8px;
            line-height: 150%;
        }
    }

    .popular-track img {
        width: 55px;
        height: 55px;
        margin-right: 15px;
    }

    .popular-tracks {
        display: flex;
        flex-wrap: wrap;
        font-size: 12.8px;
        line-height: 0%;
        color: #e0e0e0;

        .popular-track {
            width: calc(50% - 50px);
            margin-right: 50px;
            display: flex;
            margin-bottom: 25px;

            @media (max-width: 415px) {
                margin-right: 0;               
            }

            &:nth-child(5),
            &:nth-child(6) {
                margin-bottom: 0;
            }

            &:nth-child(5) {
                @media (max-width: 415px) {
                    margin-bottom: 25px;
                }
            }

            @media (max-width: 415px) {
                width: 100%;
            }

            .track-info {
                flex-grow: 1;
            }
        }

        .track-time {
            text-align: right;

            @media (max-width: 415px) {
                margin: 0;               
            }
        }
    }
}

#page-discography {
    padding-top: 100px;
    text-align: left;

    h2 {
        text-align: left;
        margin-bottom: 47px;

        @media (max-width: 415px) {
            margin-bottom: 48px;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        text-transform: none;
        margin: 12px 0 0 0;
    }

    p {
        margin: 0;
    }

    .discography-items {
        display: flex;
        flex-wrap: wrap;

        .discography-item {
            margin-right: 50px;

            @media (max-width: 415px) {
                width: 137px;
                margin-right: 0;
            }

            &:nth-child(odd) {
                @media (max-width: 415px) {
                    width: 137px;
                    margin-right: 50px;
                }
            }

            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 25px;
            }
        }
    }

    .discography-item img {
        @media (max-width: 415px) {
            width: 137px;
            height: 137px;
        }
    }
}

#page-similar {
    margin-bottom: 100px;
    padding-top: 100px;

    h2 {
        text-align: left;
        margin-bottom: 46px; 
        
        @media (max-width: 415px) {
            margin-bottom: 48px;
        }
    }

    h3 {
        text-transform: none;
        margin: 11px 0 0 0;
    }

    p {
        margin: 0;
    }

    .similar-items {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .similar-item {
            margin-right: 50px;

            @media (max-width: 415px) {
                width: 137px;
                margin-right: 0;
            }

            &:nth-child(odd) {
                @media (max-width: 415px) {
                    margin-right: 50px;
                }
            }

            h3 {
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
            }

            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 25px;
            }

            @media (max-width: 415px) {
                &:nth-child(5),
                &:nth-child(6) {
                    margin-bottom: 25px;
                }
            }
        }

        .similar-item img {
            @media (max-width: 415px) {
                width: 137px;
                height: 137px;
            }
        }
    }
}
