@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
html {
    width: 100%;
}

body {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #cacaca;
    background: #08020d;
}

.btn {
    display: block;
    background: none;
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #cacaca;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;
}

@media (max-width: 415px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 78px;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 415px) {
        padding: 0 20px;
    }
}
.center {
    text-align: center;
}
.page-description {
    padding: 200px 0;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    position: relative;

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: 25px;

        a {
            text-decoration: none;
            font-size: 11px;
            line-height: 16px;
            color: #ffffff;
            text-transform: uppercase;
        }

        .logo {
            margin-right: 90px;
            display: flex;
            align-items: center;

            img {
                height: 24px;
            }
            span {
                display: block;
                white-space: nowrap;
                margin-left: 16px;
            }
        }

        .nav {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin-right: 460px;

                @media (max-width: 415px) {
                    margin-right: auto;
                }

                li {
                    list-style: none;
                    padding-right: 24px;

                    @media (max-width: 415px) {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
        .form-group {
            input {
                min-height: 25px;
                background: #3c3b3d;
                border-radius: 50px;
                font-size: 13.3px;
                line-height: 15px;
                color: #757575;
                border: none;
                padding: 5px;
                padding-left: 10px;
                text-transform: uppercase;
                width: 248px;

                @media (max-width: 415px) {
                    width: 374px;
                }
            }
        }
    }
    .banner {
        input {
            min-width: 270px;
            min-height: 50px;
            padding-left: 20px;
            margin-bottom: 1.5rem;
            border: 2px solid #cacaca;
            border-radius: 3px;
            background: none;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
            box-sizing: border-box;

            @media (max-width: 415px) {
                width: 374px;
            }
        }

        input.green {
            width: 570px;
            background: #34c176;
            padding: 20px 30px;
            border-radius: 5px;
            border: none;
            font-size: 13.3px;
            line-height: 15px;
            text-transform: uppercase;
            box-sizing: border-box;

            @media (max-width: 415px) {
                width: 374px;
            }
        }
    }
}

.page-pricing {
    padding-top: 100px;
    color: #ffffff;

    .pricing-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pricing-item {
        width: 29%;
        min-width: 350px;
        margin: 50px 25px;
        background-position: center;
        background-size: cover;
        padding: 1.5rem;
        border-radius: 1rem;

        h3 {
            margin-bottom: 200px;
        }

        .pricing-value {
            font-size: 64px;
            line-height: 1em;
            text-align: center;

            sup {
                font-size: 32px;
                line-height: 150%;
            }
        }

        .btn {
            display: block;
            min-width: 270px;
            background: none;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 20px 30px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            font-weight: normal;
        }

        .pricing-footer {
            font-size: 12.8px;
            line-height: 150%;
            text-align: center;
        }
    }

    .bg-free1 {
        background-image: url("../images/subscribe_1.png");
    }

    .bg-free2 {
        background-image: url("../images/subscribe_2.png");
    }

    .bg-free3 {
        background-image: url("../images/subscribe_3.png");
    }
}

.page-news {
    padding-top: 100px;

    h2 {
        margin-bottom: 48px;
    }

    h3 {
        font-size: 30px;
        line-height: 45px;
        margin-top: 0;

        @media (max-width: 415px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .news-item {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -25px 65px -25px;

        &:nth-child(3) {
            @media (max-width: 415px) {
                flex-direction: column-reverse;
            } 
        }

        @media (max-width: 415px) {
            margin: 0;
        }
        
        .news-item-img img {
            max-width: 100%;
            width: 100%;
            height: 100%;            
        }

        .news-item-img,
        .news-content {
            width: calc(50% - 50px);
            margin: 0 25px;

            @media (max-width: 415px) {
                width: 100%;
                margin: 0 0 50px 0;
            }
        }

        .autor-img {
            display: flex;

            .autor-name {
                margin: 0 16px;
                text-transform: uppercase;
                color: #f89202;
            }
        }

        .news-author {
            display: flex;
            font-size: 12px;
            line-height: 19px;
            margin-bottom: 48px;
        }

        .btn {
            padding: 16px 30px;
            width: 135px;
            height: 53px;
            font-size: 12px;
            line-height: 19px;
            text-transform: uppercase;
        }
    }
}

.page-app {
    padding-top: 100px;
    margin-bottom: 100px;

    h2 {
        @media (max-width: 415px) {
            margin-bottom: 48px;
        }
    }

    .page-items {
        display: flex;                
        margin: 0 -72px;

        @media (max-width: 415px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            margin: 0;
        }

        .page-item {
             margin: 0 72px;

             @media (max-width: 415px) {
                margin: 0;
            }

            .btn {
                padding: 16px 40px;
                background: #95390C;
                border: none;
                border-radius: 32px;
                color: #ffffff;
                font-size: 12.8px;
                line-height: 19px;
                width: 131px;
                height: 53px;                
            }
        }
    }
}

.footer {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
    

    .footer-top {
        padding: 3rem 0;
        border-bottom: 2px solid #cacaca;

        h2 {
            font-size: 18px;
            font-weight: bold;
            line-height: 27px;
            text-transform: uppercase;
            text-align: left;
        }

        a {
            display: block;
            text-decoration: none;
            color: #E0E0E0;  
        }

        .grid-4 {
            display: grid;
            grid-template-columns: repeat(4, 1fr );            
            grid-column-gap: 40px; 

            @media (max-width: 415px) {
                display: flex;
                flex-wrap: wrap;                
            }

            .grid-element {
                @media (max-width: 415px) {
                    width: 100%;                
                }
            }
            
            .inline {
                display: inline-block;
                margin-right: 24px;
            }
        }
    }

        .footer-bottom {
             padding: 2rem 0;

            a {
             text-decoration: none;
             color: #E0E0E0;
             margin-right: 16px;

             @media (max-width: 415px) {
                display: block;                
            }
            }
         }      
}

.page-description2 {
    padding: 200px 0;
    background-image: url("../images/Morten\ Harket.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    position: relative;

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: 25px;

        a {
            text-decoration: none;
            font-size: 11px;
            line-height: 16px;
            color: #ffffff;
            text-transform: uppercase;
        }

        .logo {
            margin-right: 90px;
            display: flex;
            align-items: center;

            img {
                height: 24px;
            }
            span {
                display: block;
                white-space: nowrap;
                margin-left: 16px;
            }
        }

        .nav {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin-right: 460px;

                @media (max-width: 415px) {
                    margin-right: auto;
                }

                li {
                    list-style: none;
                    padding-right: 24px;

                    @media (max-width: 415px) {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
        .form-group {
            input {
                min-height: 25px;
                background: #3c3b3d;
                border-radius: 50px;
                font-size: 13.3px;
                line-height: 15px;
                color: #757575;
                border: none;
                padding: 5px;
                padding-left: 10px;
                text-transform: uppercase;
                width: 248px;

                @media (max-width: 415px) {
                    width: 374px;
                }
            }
        }
    }

    .banner {
        text-align: left;

        .btn {
            display: inline-block;
            width: 200px;
            height: 62px;
            border: none;
            font-size: 12.8px;
            line-height: 150%;
            padding: 20px 30px;

            img {
                width: 20px;
                height: 20px;
                margin-right: 16px;               
            }
        }

        .orange {
            background: #95390C;
        }

        .purple {
            background: #5328A1;
            margin-top: 48px;
            margin-right: 24px;

            @media (max-width: 415px) {
                margin-bottom: 24px;
            }
        }
    }
}

.page-popular-track {
    padding-top: 100px;

    h2 {
        text-align: left;
    }

    h3 {
        font-weight: bold;
        font-size: 12.8px;
        line-height: 150%;
        text-transform: uppercase;
    }

    .popular-track img {
        width: 55px;
        height: 55px;
    }
}

.page-discography {
    padding-top: 100px;
    text-align: left;

    h2 {
        text-align: left;

        @media (max-width: 415px) {
             margin-bottom: 48px;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-align: left;       
    }

    .discography-items {
        display: flex;
        flex-wrap: wrap;
        
        .discography-item {
            margin-right: 50px;

            @media (max-width: 415px) {
                width: 137px;
                margin-right: 0;
            }

            &:nth-child(odd) {
                @media (max-width: 415px) {
                    width: 137px;
                    margin-right: 50px;
                }
            }

            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4), {
                margin-bottom: 25px;
            }
        }
    }

    .discography-item  img {
        @media (max-width: 415px) {
            width: 137px;
            height: 137px;
        }
    }
}